@model IEnumerable<ShopWebApplication.Models.Product>

@{
	ViewData["Title"] = "Index";
}

<h1>Pizza Menu</h1>

<div>
	<form class="row g-3" action="/Products/Index">
		<div class="col-auto">
			<label for="staticEmail2">Search</label>
		</div>
		<div class="col-auto">
			<input type="text" class="form-control" id="inputPassword2" placeholder="Pizza Name" name="name" value="@ViewData["pizzaName"]">
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary mb-3">Search</button>
		</div>
	</form>
</div>

<h2>All Pizzas</h2>

<div class="container">
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-4">
				<div class="card mt-2" style="width: 18rem;">
					<img src="@item.ProductImage" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="d-flex justify-content-around">
							<h5 class="card-title text-primary">@Html.DisplayFor(i => item.ProductName)</h5>
							<h5 class=""><span>$</span>@Html.DisplayFor(i => item.UnitPrice)</h5>
						</div>
						<p class="fw-bold">Category: @Html.DisplayFor(i => item.Category.CategoryName)</p>
						<p class="card-text">@Html.DisplayFor(i => item.Description)</p>
						<a href="#" class="btn btn-primary">Add Pizza</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>
@foreach (var item in Model)
{
}