@page
@model RazorWebApplication.Pages.Products.IndexModel

@{
	ViewData["Title"] = "Index";
}
<h1>Pizza Menu</h1>

<div>
	<form class="row g-3" method="post">
		<div class="col-auto">
			<label asp-for="SearchPizzaName">Search</label>
		</div>
		<div class="col-auto">
			<input class="form-control" asp-for="SearchPizzaName" value="@Model.SearchPizzaName" />
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary mb-3">Search</button>
		</div>
	</form>
</div>

<h2>All Pizzas</h2>

<div class="container">
	<div class="row">
		@foreach (var item in @Model.Products)
		{
			<div class="col-4">
				<div class="card mt-2" style="width: 18rem;">
					<img src="@item.ProductImage" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="d-flex justify-content-around">
							<h5 class="card-title text-primary">@Html.DisplayFor(i => item.ProductName)</h5>
							<h5 class=""><span>$</span>@Html.DisplayFor(i => item.UnitPrice)</h5>
						</div>
						<p class="fw-bold">Category: @Html.DisplayFor(i => item.Category.CategoryName)</p>
						<p class="card-text">@Html.DisplayFor(i => item.Description)</p>
						<button class="btn btn-primary"
							onclick="addProduct(@item.ProductId, '@item.ProductName', @item.UnitPrice, 1, 1)">
							Add Pizza
						</button>
					</div>
				</div>
			</div>
		}
	</div>
</div>

<script>

	class Product {
		constructor(id, title, price, quantity, total) {
			this.id = id;
			this.title = title;
			this.price = price;
			this.quantity = quantity;
			this.total = total;
		}
	}

	function addProduct(id, title, price, quantity, total) {
		console.log('okkk')
		let product = new Product(id, total, price, quantity, total);
		let products = [];
		if (localStorage.getItem('products')) {
			products = JSON.parse(localStorage.getItem('products'));
		}
		products.push(product);
		localStorage.setItem('products', JSON.stringify(products));
	}


</script>